<nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(9, 255, 214);
background: linear-gradient(322deg, rgb(134, 193, 171) 32%, rgb(19, 45, 158) 65%, rgb(237, 245, 8) 100%);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="background-color: aquamarine; border-radius: 15px; padding: 5px 10px;">Hello Dear </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/std">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/std/viewprofile">viewprofile</a>
          </li>
          <li class="nav-item">
            <a class=" btn btn-danger" type="button" aria-current="page" id="logout" href="/logout">logout</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <script>
    let logout= document.getElementById("logout");

    logout.addEventListener('click',(e)=>{
      window.open('/','_blank');
      window.close()
    })
  </script>