<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/header') %>

</head>
<body>
  <%- include('partials/usernavbar') %>


        <h5>gdfd</h5>

      <center>
        <h4> <%= servcount %></h4>
      </center>
        <%- include('partials/footer') %>

</body>
</html>